{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{product.name}}</h1>
	<p>{{product.description}}</p>
	<p>Quantité : {{product.quantity}}</p>
	<p>Prix : {{product.price}}€</p>
	<p>Categorie : {{product.category}}</p>

	<h2>Modifier</h2>
	{{ form(edit) }}
{% endblock %}